@import './App.scss';
@import './components/header/header.scss';
@import './components/submittedData/SubmittedDataDisplay.scss';
@import './components/forms/uncontrolled/UncontrolledForm.scss';
@import './components/forms/controlled/ControlledForm.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}
